.App {
  text-align: center;
}


/* Navbar */

.navbar{
  text-align: center;
}

.navbar p{
  font-size: 2rem;
}

/* Form */

.form{
  max-width: 400px;
  justify-content: center;
  align-items: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title{
  padding: 0.5em;
  width: 90%;
  margin:0.5em auto;
  border: 2px solid #282c34;
  border-radius: 0.25em;
}
.author{
  padding: 0.5em;
  width: 90%;
  margin:0.5em auto;
  border: 2px solid #282c34;
  border-radius: 0.25em;
}

.button{
  width: 60%;
  margin:0.5em auto;
  padding: 0.5em;
  border: 2px solid #282c34;
  border-radius: 0.25em;
  font-size: 1rem;
}


/* Book */

.book{
  max-width: 700px;
  width: 90%;
  margin: auto;
}

.list{
  width: 90%;
  display: flex;
  font-size: 1.5rem;
  border-radius: 0.25em;
  border: 2px solid #282c34;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0.5em auto;
}

ul{
  padding: 0;
}

@media (max-width:300px){
  .list{
    display: flex;
    flex-direction: column;
  }
}